* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.contenedor {
    max-width: 1300px;
    width: 96%;
    margin: 0 auto;
    padding: 10px;
    background: #999;
    border-radius: 8px;
    border: 4px solid #ffa
}
.header {
    position: relative;
    width: 96%;
    margin: 5px auto;
    padding: 20px;
    background: #123;
    border-radius: 8px;
}
.header__titulo {
    font-size: 48px;
    color: #ffa;
    text-align: center;
}
#barra {
    display: none;
}
.header__img {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 4px solid #ffa;
    border-radius: 4px;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.menu__li {
    font-size: 20px;
    padding: 15px;
}
.menu__a {
    color: #ffa;
    padding: 15px 25px;
    text-decoration: none;
}
.menu__a:hover {
    background: rgba(0,0,0,.9);
}
@media (max-width: 600px) {
    .header__img {
        display: block;
    }
    .nav {
        position: absolute;
        top: 160px;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        background: rgba(17,34,51,.8);
        transition: all .3s;
        transform: scale(0);
        transform-origin: 0 0;
    }
    .menu {
        flex-direction: column;
    }
    .menu__li {
        margin-bottom: 50px;
        border-bottom: 1px solid #ffa;
    }
    .menu__li:nth-child(1) {
        margin-top: 60px;
    }
    #barra:checked ~ .nav {
        transform: scale(1);
    }
    .articulo__img {
        margin-left: 10px;
    }
}
main {
    display: flex;
    gap: 20px;
    width: 96%;
    margin: 5px auto;
    border-radius: 8px;
}
.articulos {
    width: 70%;
    background: #2d3436;
    color: #ffa;
    padding: 10px;
    border-radius: 8px;
}
article {
    position: relative;
}
.articulo__fecha {
    position: absolute;
    top: 90px;
    left: -40px;
    width: 70px;
    height: 90px;
    background: #156;
    padding: 12px 4px;
    box-shadow: 10px 10px 20px rgba(17,85,102,.7);
    border-radius: 4px;
} 
.articulo__numero-dia {
    font-size: 36px;
    text-align: center;
}
.articulo__nombre-dia {
    text-align: center;
}
.articulo__titulo {
    font-size: 30px;
    text-align: center;
}
.articulo__texto {
    text-align: center;
    padding: 10px;
}
.articulo__img {
    width: 96%;
    margin-bottom: 8px;
    border: 2px solid #000;
}

.info {
    width: 30%;
    background: #2d3436;
    color: #ffa;
    padding: 20px;
    border-radius: 8px;
}
.info__titulo {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.info__uno, .info__dos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 475px;
    background: #244;
    color: #ffa;
    font-size: 20px;
    margin: 15px 0;
    border: 5px solid #ffa;
    border-radius: 4px;
            }
@media (max-width: 800px) {
    main {
        display: block;
    }
    .articulos {
        width: 100%;
    }
    .info {
        display: none;
    }
}

.footer {
    width: 96%;
    background: #134;
    color: #ffa;
    margin: 5px auto;
    padding: 12px 0;
    border-radius: 8px;
}
.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot__img{
    width: 36px;
}



